h1(class='s-simple-title +u-fs-h5x') Progress Bars Object
h2.s-simple-title--sub Progress Bars All
.s-simple-base.progress-bars
  .o-progress
    div(
        class='o-progress__bar',
        role='progressbar',
        aria-valuenow='20',
        aria-valuemin='0',
        aria-valuemax='100',
        style='width: 20%;'
      )
      span.o-progress__bar-label 20% Complete
  .o-progress
    div(
      class='o-progress__bar  o-progress__bar--success  o-progress__bar--striped',
      role='progressbar',
      aria-valuenow='50',
      aria-valuemin='0',
      aria-valuemax='100',
      style='width: 50%;'
      )
      span.o-progress__bar-label 50% Complete
  .o-progress
    div(
      class='o-progress__bar  o-progress__bar--warning',
      role='progressbar', a
      ria-valuenow='30',
      aria-valuemin='0', aria-valuemax='100',
      style='width: 30%;'
      )
      span.o-progress__bar-label.u-sr-only 30% Complete
  .o-progress
    div(class='o-progress__bar  o-progress__bar--error',
      role='progressbar',
      aria-valuenow='60',
      aria-valuemin='0',
      aria-valuemax='100',
      style='width: 60%;'
      )
      span.o-progress__bar-label 60% Complete
  .o-progress
    div(class='o-progress__bar  o-progress__bar--info  o-progress__bar--striped',
      role='progressbar',
      aria-valuenow='80',
      aria-valuemin='0',
      aria-valuemax='100',
      style='width: 80%;'
      )
      span.o-progress__bar-label.u-sr-only 80% Complete
.s-simple-code
  p this will be code